<!DOCTYPE html>
<html>
<head>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <title >文件上传示例</title>
</head>
<body>
<h2 style="margin-left: 30px">文件上传示例</h2>
<hr/>
<form method="POST" enctype="multipart/form-data" action="/upload" >

    <input type="file" name="file" style="margin-left: 30px"/>
    <br>
    <p style="margin-left: 30px">
        <input type="submit" value="上传" />
    </p>
</form>
<a href="/showData">

<button type="button"  class="btn btn-info" id="showDataBtn" style="margin-left: 30px">
    查看数据分析
</button>
</a>
<a href="/editData">

    <button type="button"  class="btn btn-info" id="editDataBtn" style="margin-left: 30px">
        编辑数据
    </button>
</a>
<a href="/allFile">

    <button type="button"  class="btn btn-info" id="allFileBtn" style="margin-left: 30px">
        查看全部文件
    </button>
</a>

</body>
</html>
