<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/showData.css" />
</head>
<body>



<table class="table table-striped" id="dataTable" >
    <tr>
        <th>a1</th>
        <th>a2</th>
        <th>a3</th>
        <th>a4</th>
        <th>a5</th>
        <th>a6</th>
        <th>a7</th>
        <th>a8</th>
        <th>a9</th>
        <th>a10</th>
        <th>a11</th>
        <th>a12</th>
        <th>quality</th>
    </tr>

    <tr th:each="data : ${dataList}">



        <td th:text="${data.a1}"  id="a1">

        </td>

        <td th:text="${data.a2}"  id="a2">

        </td>

        <td th:text="${data.a3}"  id="a3">

        </td>

        <td th:text="${data.a4}"  id="a4">

        </td>
        <td th:text="${data.a5}"  id="a5">

        </td>
        <td th:text="${data.a6}"  id="a6">

        </td>
        <td th:text="${data.a7}"  id="a7">

        </td>
        <td th:text="${data.a8}"  id="a8">

        </td>
        <td th:text="${data.a9}"  id="a9">

        </td>
        <td th:text="${data.a10}"  id="a10">

        </td>
        <td th:text="${data.a11}"  id="a11">

        </td>
        <td th:text="${data.a12}"  id="a12">

        </td>
        <td th:text="${data.quality}"  id="quality">

        </td>


    </tr>
</table>

<table class="table table-striped" id="dataAnalysisTable" >
    <tr>

    </tr>

    <tr th:each="data : ${analysisList}">



        <td th:each="entry : ${data}" th:text="${entry.key}" id="a1a">
        </td>
        <td th:each="entry : ${data}" th:text="${entry.value}" id="a1av">

        </td>




    </tr>
</table>

<nav class="nav nav-pills pull-right" >


    <ul class="pagination" >
        <li><a href="#" style="color: #00b4ef;">&laquo;</a></li>

        <li>
            <a th:if="${not isFirstPage}" th:href="@{${'/showData'}(pageNo=${pageNo-1},pageSize=${pageSize})}" style="color: #00b4ef;">Previous</a>
            <a th:if="${isFirstPage}" href="javascript:void(0);" style="color: #00b4ef;">Previous</a>
        </li>

        <!--<li th:each="page : ${#numbers.sequence(1, totalPages)}">-->
            <!--<a th:if="${pageNo eq page}" href="javascript:void(0);" style="color: black">-->
                <!--<span th:text="${page}"></span>-->
            <!--</a>-->
            <!--<a th:if="${not (pageNo eq page) and (page le 3)}" th:href="@{${'/showData'}(pageNo=${page},pageSize=${pageSize})}"style="color: #00b4ef;">-->
                <!--<span th:text="${page}"></span>-->
            <!--</a>-->
            <!--<a th:if="${not (pageNo eq page) and (page gt totalPages-3)}" th:href="@{${'/showData'}(pageNo=${page},pageSize=${pageSize})}"style="color: #00b4ef;">-->
                <!--<span th:text="${page}"></span>-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a th:if="${not isLastPage}" th:href="@{${'/showData'}(pageNo=${pageNo+1},pageSize=${pageSize})}" style="color: #00b4ef;">Next</a>
            <a th:if="${isLastPage}" href="javascript:void(0);" style="color: #00b4ef;">Next</a>
        </li>

        <li style="color: #00b4ef;">共</li>
        <li th:text="${totalPages}"></li>
        <li style="color: #00b4ef;">页</li>

        <li><a href="#" style="color: #00b4ef;">&raquo;</a></li>
        <li style="color: #00b4ef;margin-left: 10px;">

            转到<input id="gotoPageNo" style="width: 50px;margin-left:10px;margin-right: 10px;">页
        </li>
        <!--<a th:href="@{${'/showData'}(pageNo=${gotoPageNo},pageSize=${pageSize})}" style="color: #00b4ef;">-->
            <button type="button"  class="btn btn-info" id="gotoBtn">
                跳转
            </button>
        <!--</a>-->


    </ul>
</nav>

</body>
</html>
<script src="../static/js/showData.js" th:inline="javascript" ></script>